{
  "presets": [
    "./tools/es2015Preset",
    "stage-0",
    "react"
  ],

  "env": {
    "cjs": {
      "plugins": ["add-module-exports", "babel-plugin-groundskeeper-willie"]
    },
    "es": {
      "plugins": ["babel-plugin-groundskeeper-willie"]
    },
    "dev": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}