{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends" : "airbnb",
  "rules": {
		"import/prefer-default-export": 0,
		"linebreak-style": 0,
    "indent": 0,
		"react/jsx-filename-extension": 0,
    "react/jsx-indent": 0,
    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent-props": 0,
		"react/forbid-prop-types": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-trailing-spaces": [2, {
      "skipBlankLines": true
    }],
    "quotes": 0,
    "max-len": 0,
    "no-underscore-dangle": 0,
    "global-require": 0
  }
}
