$palette-green: #2ecc71;
$palette-yellowish: #ebca66;
$palette-red: #e74c3c;
$palette-blue: #3498db;
$palette-dark-purple: #604bbf;
$default-text: #595d67;
$default-shadow: #4e5b66;

$background-lower-level: #dfe0e9;
$background-code: #fff3bf;

$mobile-sml-media: "only screen and (max-device-width: 790px), (max-width: 790px)";