@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500);
@import './_variables.scss';

a {
  color: $palette-green;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  letter-spacing: 0.015em;
  color: $default-text;
}

#react-mount {
  height: 100%;
}

button {
  background: white;
  border: none;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  margin-top: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;

	&:disabled {
		background: lighten($background-lower-level, 5);
	}
}

input {
  @media #{$mobile-sml-media} {
    font-size: 1em;
  }

  border: 2px solid white;
  padding: 0.75em 0.9em;
  border-radius: 0.2em;
}

.app {
  //height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.github {
  @media #{$mobile-sml-media} {
    font-size: 28px;
  }

  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 1em 1em 4em 6em;
  //background: red;
  overflow: hidden;

  $github-color: rgba(155, 155, 155, 0.2);

  &:after {
    content: "";
    background: $github-color;
    position: absolute;
    top: -50%;
    right: -75%;
    width: 200%;
    height: 100%;
    transform: rotate(45deg);
    z-index: -1;
    transition: background 0.3s ease-in-out;
  }

  &:hover {
    svg {
      fill: $palette-retro-purple;
    }

    &:after {
      background: rgba(255, 255, 255, 0.4);
    }
  }

  svg {
    fill: white;
    width: 3em;
    height: 3em;
    transition: fill 0.3s ease-in-out;
    z-index: 1;


  }
}

.error-message {
  color: $palette-red;
  font-size: 0.75em;
  text-transform: uppercase;
  text-shadow: 0 1px 3px lighten($background-lower-level, 5);
  //text-align: center;
  margin: 0.5em 0;
  max-width: 14.6em;
}

@keyframes header {
  0% {
    background: $palette-green;
  }

  50% {
    background: $palette-yellowish;
  }

  100% {
    background: $palette-red;
  }
}

@keyframes blurbText {
  0% {
    color: desaturate(darken($palette-green, 5), 20);
  }

  50% {
    color: desaturate(darken($palette-yellowish, 18), 20);
  }

  100% {
    color: desaturate(darken($palette-red, 5), 20);
  }
}

.header {
  //background: linear-gradient(to top, darken($palette-green, 10), lighten($palette-green, 10));
  background: $palette-green;
  min-height: 5em;
  flex-shrink: 0;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: inset 0 -5px 30px -18px darken($palette-dark-purple, 10);
  text-align: center;

  animation: header 8s ease-in-out 1s infinite alternate;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0), #604bbf);
    opacity: 0.12;
    z-index: 0;
    content: "";

  }

  img {
    max-width: 8em;
    margin: 1.5em 0 2.5em 0;
    opacity: 0.8;
  }

  h1 {
    z-index: 1;
    font-size: 5em;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.error-message {
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
  }

  &.shown {
    opacity: 1;
  }
}

table {
  th {
    border-bottom: 2px solid $background-lower-level;
    background: $background-lower-level;
    background: linear-gradient(to top, lighten($background-lower-level, 5), white 150%);
    padding: 0.4em 0.8em;
  }

  td {
    border-bottom: 2px solid lighten($background-lower-level, 5);
    padding: 0.3em 0.6em;
    //margin-bottom: 0.2em;
    //background: grey;
    //box-sizing: content-box;
  }

  th, td {

  }
}

pre {
  @media #{$mobile-sml-media} {
    font-size: 32px;
  }

  //max-width: 80%;
  //font-size: 0.9em;
  background: $background-code;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  line-height: 1.5em;
}

code {
  background: $background-code;
  border-bottom: 1px solid darken($background-code, 15);
  padding: 0.1em 0.25em;
  margin: 0 0.1em;
  border-radius: 0.2em;
  line-height: 1.65em;
  //font-weight: bold;
}

.showcase-blurb {
  @media #{$mobile-sml-media} {
    font-size: 36px;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0 4px 25px -7px rgba($default-shadow, 0.35);
  border-bottom: 0.35em solid white;
  position: relative;
  box-sizing: border-box;
  text-align: center;

  animation: header 8s ease-in-out 1s infinite alternate;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, white, #ebeeff);
    opacity: 0.9;
    z-index: 0;
    content: "";

  }

  * {
    z-index: 1;
  }

  h2 {
    font-size: 1.8em;
    animation: blurbText 8s ease-in-out 1s infinite alternate;
    margin-bottom: 0.4em;
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  h4 {
    margin-top: 0.2em;
  }
}

.showcase {
  @media #{$mobile-sml-media} {
    font-size: 42px;
  }

  //font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  $blockquote-color: #d5d5e3;

  blockquote {
    @media #{$mobile-sml-media} {
      margin-right: 0;
      border-radius: 2em;
    }

    position: relative;
    //margin-right: -15%;
    margin-right: -2em;
    //margin-left: 15%;
    margin-left: 0;
    background: $blockquote-color;
    background: linear-gradient(to left, $background-lower-level, lighten($background-lower-level, 5));
    box-shadow: inset 5px 0 20px -15px darken($palette-dark-purple, 10);
    padding: 1em 2em;
    border-radius: 2em 0 0 2em;
    color: $darker-text;

    p {
      //width: 100%;
      //height: 100%;
      //position: absolute;

    }
  }

  //box-shadow: inset 0 5px 30px -18px darken($palette-dark-purple, 10);
}

.showcase-row {
  @media #{$mobile-sml-media} {
    flex-direction: column;
  }

  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.showcase-left, .showcase-right {
  @media #{$mobile-sml-media} {
    flex-basis: auto;
    width: 100%;
    //flex-grow: 1;
  }

  //max-width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}

.showcase-left {
  //align-self: center;
  margin-left: auto;
  max-width: 50em;
  flex-basis: 65%;
}

.showcase-right {
  flex-basis: 35%;
  box-shadow: inset 5px 0 20px -15px darken($palette-dark-purple, 10);
  background: $background-lower-level;
  justify-content: center;
  align-items: center;
}
